/* GOOGLE FONT */
.orbitron {
	font-family: 'Orbitron', serif;
	font-style: normal;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
}

/* Global Container */
.container {
	width: 100%;
	height: 100%;
}

.container .layout {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	overflow: hidden;
}

#background {
	background: transparent url(../images/debug-bg.jpg) repeat 0 0;
	z-index: 0;	
}

#ground { z-index: 30; }
#game { z-index: 60; }


/* The Ship */
#game #ship { 
	position: absolute;
	display: none;
	top:0;
	left:0;
	background: transparent;
}

#ship .wing { 
	position: absolute;
	top:33px;
	left:6px;
	display: block;
	width: 70px;
	height: 55px;
	background: transparent url(../images/sprites/wings_eagle_sprite.png) no-repeat 0 0;
}

#ship .wing.right { left: 83px; background-position: right 0; }
#ship .ship-body {
	position: absolute;
	display: block;
	top: 20px;
	left: 0;
	width: 154px;
	height: 137px;
	background: transparent url(../images/sprites/spaceship_body.png) no-repeat 0 0;
}

#ship .ship-canon {
	position: absolute;
	display: block;
	top:0;
	left: 71px;
	width: 18px;
	height: 40px;
	background: transparent url(../images/sprites/weapon_pilot.png) no-repeat 0 0;
}

#ship .ship-foray {
	position: absolute;
	display: block;
	top:30px;
	left: 117px;
	width: 19px;
	height: 33px;
	background: transparent url(../images/sprites/weapon_foray.png) no-repeat 0 0;
}

#ship .ship-foray.right {
	background-position: right 0;
	left: 24px;
}

#ship .ship-reactor {
	position: absolute;
	display: block;
	background: transparent url(../images/sprites/reactor_drum.png) no-repeat 0 0;
	top:85px;
	left:72px;
	width: 15px;
	height: 14px;
}

#ship .ship_reactor_fire {
	position: absolute;
	display: block;
	background: transparent url(../images/sprites/reactor_fire_sprite.png) no-repeat 0px 0;
	top:88px;
	left: 58px;
	width: 44px;
	height: 68px;
}

/* The HUD */
#hud { z-index: 90; display: none;	}

#hud #score {
	font-size:36px;
	text-transform: uppercase;
	color:#fff;
	font-weight: bold;
	text-shadow: 0 0 5px rgba(115, 171, 255, 0.4) ;
	position: absolute;
	display: block;
	top:20px;
	right: 30px;
}

#hud #activeElements {
	font-size:13px;
	text-transform: uppercase;
	color:#fff;
	font-weight: bold;
	text-shadow: 0 0 5px rgba(115, 171, 255, 0.4) ;
	position: absolute;
	display: none;
	top:100px;
	right: 30px;
}

#hud #fpsCounter {
	font-size:20px;
	text-transform: uppercase;
	color:#fff;
	font-weight: bold;
	text-shadow: 0 0 5px rgba(115, 171, 255, 0.4) ;
	position: absolute;
	display: block;
	top:67px;
	right: 30px;
}

/* GameIntro Panel */
#game-intro {
	position: absolute;
	display: block;
	left: 0px;
	top: 50%;
	margin-top: -150px;
	color:#fff;
	z-index: 1000;
	width:100%;
	text-align: center;
}

#game-intro .text {
	position: relative;
	display: block;
	font-size: 64px;
}

#game-intro #start-game {
	position: relative;
	display: block;
	margin: 20px auto;
	width: 300px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid rgba(0,0,0, 0.3);
	padding: 15px 0 10px;
	font-size: 24px;
	background: rgba(0,0,0, 0.1);
}

#game-intro #start-game.hover {
	cursor: pointer;
	background: rgba(0,0,0, 0.2);
	box-shadow: 0 0 20px rgba(27, 161, 255, 0.5) ;
	-moz-box-shadow: 0 0 20px rgba(27, 161, 255, 0.5) ;
}

/* GameOver Panel */
#game-over {
	position: absolute;
	display: none;
	left: 0px;
	top: 50%;
	margin-top: -150px;
	color:#fff;
	z-index: 1000;
	width:100%;
	text-align: center;
}

#game-over .text {
	position: relative;
	display: block;
	font-size: 64px;
}

#game-over #restart-game {
	position: relative;
	display: block;
	margin: 20px auto;
	width: 300px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid rgba(0,0,0, 0.3);
	padding: 15px 0 10px;
	font-size: 24px;
	background: rgba(0,0,0, 0.1);
}

#game-over #restart-game.hover {
	cursor: pointer;
	background: rgba(0,0,0, 0.2);
	box-shadow: 0 0 20px rgba(27, 161, 255, 0.5) ;
	-moz-box-shadow: 0 0 20px rgba(27, 161, 255, 0.5) ;
}

#game-over #share-buttons {
	position: relative;
	display: block;	
	text-align: center;
	padding: 10px 0;
}

#game-over #share-buttons div {
	display: inline-block;
    margin: 0 10px;
    position: relative;
}

#game-over #share-buttons a {
	position: relative;
	display: block;
	opacity: 0.1;
	outline: none; 
}

#game-over #share-buttons a img { border:none; outline: none; }
#game-over #share-buttons a:hover { opacity: 0.9; cursor: pointer; }


/* Credits */
#credits {
	position: absolute;
	display: block;
	right: 20px;
	bottom: 10px;
	color:#ddd;
	z-index: 1000;
	text-align: right;
	font-size: 12px;
	font-family: "Lucida Grande", Verdana;
}

#credits a { text-decoration: none; color: #1ba1ff; }
#credits a:hover { text-decoration: underline; }
#credits a.author { color: #baff58; }
#credits a.quote { color: #fa8100; }